:root {
  --white: #ffffff;
  --black: #000000;
  --light-green: #82f2a0;
  --dark-green: #1f6531;
  --gray: #eae3e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* min-height: 100vh; */
  scroll-behavior: smooth;
}

body {
  /*   width: 100%;
  min-height: 100vh; */
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
}
