:root {
  --white: #ffffff;
  --black: #000000;
  --light-green: #82f2a0;
  --dark-green: #1f6531;
  --gray: #f4eaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
}

/*<div className='slider'>*/
/*
*contains: <Slider>
*
*/
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 95%;
}

/*<Slider>*/
/*
*Buttons and slides (.containerPhotos) are inside of <Slider>.
*/
div.slick-slider.slick-initialized {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 80%;
  width: 90%;
}

div.slick-list,
div.slick-track {
  height: 100%;
  width: 100%;
}

div.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

div.containerPhoto {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/*Arrow buttons*/
.slick-prev:before,
.slick-next:before {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

@media only screen and (max-width: 17.812em) {
  .photo {
    height: auto;
    width: 90%
  }
}

@media only screen and (min-width: 17.813em) and (max-width: 48em) {
  .photo {
    height: auto;
    width: 70%
  }
}
