/*<nav className='navShared'>*/
/*Mobile and tablets*/
/*Portrait*/
.navShared {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 7vh;
}

/*Very small, mobile and tablets*/
/*Portrait*/
ul,
li {
  list-style: none;
}

/*<ul className='ulShared'>*/
/*Mobile and tablets*/
/*Portrait*/
.ulShared {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 95%;
}

/*<li key={item.label} className='liShared'>*/
/*Mobile and tablets*/
/*Portrait*/
.liShared {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 50%;
  border-radius: 10px 10px 0 0;
}

/*<Link>*/
/*Mobile and tablets*/
/*Portrait*/
a {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0 0;
  border: 0.2px #d8d3d3 solid;
  text-decoration: none;
  user-select: none;
  font-size: clamp(0.625rem, 0.33rem + 1.6563vw, 1.125rem);
}

/*<nav className='navShared'>*/
/*Very small mobile and tablets*/
/*Portrait*/
.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--light-green);
}

/*<Link>*/
/*Very small, mobile and tablets*/
/*Portrait*/
a.selected {
  background-color: #eee;
}

.mainShared {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 83vh;
  width: 100%;
  overflow: scroll;
}

.spacing {
  background-color: var(--dark-green);
  height: 17vh;
  width: 100%;
}

@media only screen and (max-width: 284px) {
  .navShared {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    position: fixed;
    top: 20vh;
  }

  .ulShared {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 95%;
    position: relative;
  }

  .liShared {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 50%;
    border-radius: 10px 10px 0 0;
  }

  a {
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    user-select: none;
    font-size: clamp(0.625rem, 0.414rem + 2.5974vw, 0.875rem);
  }
}
